<body>
	<p>You are currently editing a donations's records. Click "Update Records" to save changes.</p>

	<form action="{{url}}/update" method="POST">
		<label for="name">First Name:</label>
		<input type="text" name="firstName" id="firstName" placeholder="required" value="{{person.firstName}}" autofocus></input>
		<br>
		<br>
		
		<label for="lastName">Last Name:</label>
		<input type="text" name="lastName" id="lastName" placeholder="required" value="{{person.lastName}}" autofocus></input>
		<br>
		<br>
		
		<label for="email">Donation Type:</label>
		<input type="text" name="email" id="email" placeholder="Required" value="{{person.email}}"</input>
		<br>
		<br>
		
		<label for="phone">Donation Date:</label>
		<input type="tel" name="phone" id="phone" placeholder="" maxlength="11" value="{{person.phone}}"></input>
		<br>
		<br>
		
		<label for="cellPhone">Donation Amount:</label>
		<input type="tel" name="cellPhone" id="cellPhone" placeholder="Required" maxlength="11" value="{{person.cellPhone}}"></input>
		<br>
		<br>
		
		<label for="homeAddress">Adoption Date:</label>
		<input type="text" name="homeAddress" id="homeAddress" placeholder="" value="{{person.homeAddress}}"></input>
		<br>
		<br>
		
		<label for="city">Adoption Message:</label>
		<input type="text" name="city" id="city" value="{{person.city}}"></input>
		<br>
		<br>
		
		<input type="submit" value="Update Records"><br>
		
	</form>
</body>