<body>
    <p>First Name: {{donation.firstName}}</p>
    <p>Last Name: {{donation.lastName}}</p>
    <p>Cell Phone: {{donation.cellPhone}}</p>
    <p>Home Phone: {{donation.homePhone}}</p>
    <p>Home Address: {{donation.homeAddress}}</p>
    <p>City: {{donation.city}}</p>
    <p>State: {{donation.state}}</p>
    <p>Zip Code: {{donation.zipCode}}</p>
    <p>Emergency Contact: {{donation.emergencyContact}}</p>
    <p>Emergency Contact Phone Number: {{donation.emergencyContactPhoneNumber}}</p>
	
	<a href="{{donation.url}}/delete">Delete Guest Records</a>
    <a href="{{donation.url}}/update">Update Guest Records</a>
</body>