<p>First Name: {{donation.firstName}}</p>
<p>Last Name: {{donation.lastName}}</p>
<p>Donation Type: {{donation.donationType}}</p>
<p>Donation Date: {{donation.donationDate}}</p>
<p>Donation Amount: {{donation.donationAmount}}</p>
<p>Adoption Date: {{donation.adoptionDate}}</p>
<p>Adoption Message: {{donation.adoptionMessage}}</p>

<input type="button" value="Update Donations" class="btn-info" onclick="window.location.href='{{donation.url}}/update'">
<input type="button" value="Delete Records" class="btn-info" onclick="window.location.href='{{donation.url}}/delete'">
<br>
<br>
<input type="button" value="Return to List" class="btn-info" onclick="window.location.href='/admin/Donation'">