<body>
    <p>First Name: {{donation.firstName}}</p>
    <p>Last Name: {{donation.lastName}}</p>
    <p>Donation Type: {{donation.donationType}}</p>
    <p>Donation Date: {{donation.donationDate}}</p>
    <p>Donation Amount: {{donation.donationAmount}}</p>
    <p>Adoption Date: {{donation.adoptionDate}}</p>
    <p>Adoption Message: {{donation.adoptionMessage}}</p>
    	
	<a href="{{donation.url}}/delete">Delete Donation Records</a>
    <a href="{{donation.url}}/update">Update Donation Records</a>
</body>