<p>You are currently editing a donation entry's records. Click "Update Records" to save changes.</p>

<form action="{{donation.url}}/update" method="POST">
	<p>Guest Name: {{donation.guest.name}}</p>
	
	<label for="donationType">Donation Type:</label>
	<input type="text" name="donationType" id="donationType" placeholder="Required" value="{{donation.donationType}}">
	<br>
	<br>
	
	<label for="donationDate">Donation Date:</label>
	<input type="date" name="donationDate" id="donationDate" value="{{donation.donationDate}}">
	<br>
	<br>
	
	<label for="donationAmount">Donation Amount:</label>
	<input type="text" name="donationAmount" id="donationAmount" placeholder="Required" value="{{donation.donationAmount}}">
	<br>
	<br>
	
	<label for="adoptionDate">Adoption Date:</label>
	<input type="date" name="adpotionDate" id="adoptionDate" value="{{donation.adoptionDate}}">
	<br>
	<br>
	
	<label for="adoptionMessage">Adoption Message:</label>
	<input type="text" name="adoptionMessage" id="adoptionMessage" value="{{donation.adoptionMessage}}">
	<br>
	<br>
	
	<input type="submit" value="Update Records" class="btn-info"><br>
	
</form>