<body>
    <p>First Name: {{person.firstName}}</p>
    <p>Last Name: {{person.lastName}}</p>
    <p>Cell Phone: {{person.cellPhone}}</p>
    <p>Home Phone: {{person.homePhone}}</p>
    <p>Home Address: {{person.homeAddress}}</p>
    <p>City: {{person.city}}</p>
    <p>State: {{person.state}}</p>
    <p>Zip Code: {{person.zipCode}}</p>
    <p>Emergency Contact: {{person.emergencyContact}}</p>
    <p>Emergency Contact Phone Number: {{person.emergencyContactPhoneNumber}}</p>
	
	<a href="{{person.url}}/delete">Delete Guest Records</a>
    <a href="{{person.url}}/update">Update Guest Records</a>
</body>