<p>Guest Name: {{registration.guest}}</p>
<p>Patient Name: {{registration.patient}}</p>
<p>Patient Room: {{registration.patientLoc}}</p>
<p>Staff: {{registration.staff}}</p>
<p>Check-In Date: {{registration.checkIn}}</p>
<p>Check-Out Date: {{registration.checkOut}}</p>
<p>Room #: {{registration.room.roomNumber}}</p>
<p>Deposit Type: {{registration.deposit}}</p>
<p>Number of Rented Keys: {{registration.numbKeys}}</p>
<p>Car Model: {{registration.vehicle}}</p>
<p>Plate Number: {{registration.plateNum}}</p>
<p>Items on Loan: {{registration.loans}}</p>
<p>Comments: {{registration.comments}}</p>

<input type="button" value="Update Stay Details" class="btn-info" onclick="window.location.href='{{registration.url}}/update'">
<input type="button" value="Delete Stay Details" class="btn-info" onclick="window.location.href='{{registration.url}}/delete'">