<p>You are currently editing registration data.</p>

<form action="{{registration.url}}/update" method="POST">
	<p>Guest Name: {{registration.guest.name}}</p>
	<input name="guest" type="hidden" id="guest" value="{{registration.guest._id}}">
	
	<br>
	<label for="patient">Patient Name:</label><br>
	<input name="patient" type="text" id="patient" value="{{registration.patient}}"><br>
	
	<label for="patientLoc">Patient Room:</label><br>
	<input name="patientLoc" type="text" id="patientLoc" value="{{registration.patientLoc}}"><br> 
	
	<br>
	
	<label for="checkIn">Check In Date: </label>
	<input type="datetime-local" name="checkIn" id="checkIn" value="{{registration.checkIn}}">
	<br>
	<br>
	
	<label for="checkOut">Check Out Date: </label>
	<input type="datetime-local" name="checkOut" id="checkOut" value="{{registration.checkOut}}">
	
	<br>
	<br>
	
	<select size="1" name="room" id="room">
	<option>Select a room...</option>
	{{#each rooms}}
		<option value="{{_id}}">{{Number}}</option>
	{{/each}}
	</select>
	
	<br>
	<br>
	
	<p>Select Deposit Type:</p>
	<input type="radio" name="deposit" id="deposit" value="Check">Check<br>
	<input type="radio" name="deposit" id="deposit" value="Cash">Cash<br>
	<input type="radio" name="deposit" id="deposit" value="Credit">Credit<br>
	
	<br>
	
	<label for="numbKeys"># of Keys issued: </label>
	<input type="text" name="numbKeys" id="numbKeys" value="{{registration.numbKeys}}">
	
	<br>
	
	<p>Items on Loan:</p><br>
	<textarea name="loans" id="loans" cols="40" rows="4" value="{{registration.loans}}">Enter items on loan here</textarea>
	
	<br><br>
	
	<p>Comments:</p><br>
	<textarea name="comments" id="comments" cols="40" rows="4" "{{registration.comments}}">Comments</textarea>
	
	<br>
	
	<label for="vehicle">Car Model: </label>
	<input type="text" name="vehicle" id="vehicle" value="{{registration.vehicle}}">
	
	<br>
	
	<label for="plateNum">License Plate Number: </label>
	<input type="text" name="plateNum" id="plateNum" value="{{registration.plateNum}}">
	
	<br>
	
	<label for="staff">Staff Initials: </label>
	<input type="text" name="staff" id="staff" value="{{registration.staff}}">
	
	<br>
	
	<input type="submit" value="Save Stay Details" class="btn-info"><br>
	
</form>