<p>Use the following form to add a new registration to the guest's record.</p>

<form action="/admin/Registration/create" method="POST">
	<p>Guest Name: {{registration.guest}}</p>
	
	<br>
	
	<p>Patient Name: {{registration.patient}}</p>
	
	<br>
	
	<!--<p>Patient Room: {{registration.hospRoom}}</p>-->
	
	<br>
	
	<label for="checkIn">Check In Date: </label>
	<input type="datetime-local" name="checkIn" id="checkIn">
	
	<br>
	
	<label for="checkOut">Check Out Date: </label>
	<input type="datetime-local" name="checkOut" id="checkOut">
	
	<select size="1" name="room" id="room">
	<option>Select a room...</option>
	{{#if Room.roomNum}}
    {{#each Room.roomNum}}
	<option value="{{Room.roomNum}}">{{Room.roomNum}}</option>
	{{/each}}
	{{/if}}
	
	<br>
	
	<p>Select Deposit Type:</p>
	<input type="radio" name="deposit" id="deposit" value="Check">Check<br>
	<input type="radio" name="deposit" id="deposit" value="Cash">Cash<br>
	<input type="radio" name="deposit" id="deposit" value="Credit">Credit<br>
	
	<br>
	
	<label for="numbKeys"># of Keys issued: </label>
	<input type="text" name="numbKeys" id="numbKeys">
	
	<br>
	
	<p>Items on Loan:</p><br>
	<textarea name="loans" id="loans" cols="40" rows="4">Enter items on loan here</textarea>
	
	<br><br>
	
	<p>Comments:</p><br>
	<textarea name="comments" id="loans" cols="40" rows="4">Comments</textarea>
	
	<br>
	
	<label for="vehicle">Car Model: </label>
	<input type="text" name="vehicle" id="vehicle">
	
	<br>
	
	<label for="plateNum">License Plate Number: </label>
	<input type="text" name="plateNum" id="plateNum">
	
	<br>
	
	<input type="submit" value="Add new Stay"><br>
	
</form>

{{#if errors}}
    {{#each errors}}
	<p>{{this.msg}}</p>
	{{/each}}
	{{/if}}