<ul>
    {{#if room_list}}
    {{#each room_list}}
    <li><a href="/admin/Room/{{_id}}">{{Room}}</a> | <a href="/admin/Room/{{_id}}/update">Update</a>  <a href="/admin/Room/{{_id}}/delete">Delete</a></li>
    {{/each}}
    {{else}}
        <h1>No Rooms Available</h1>
    {{/if}}
</ul>
<a href="/admin/Room/create">Create New Room</a>