<h2>Room ID: {{room._id}}</h2>
<p>Room Number: {{room.roomNumber}}</p>
<p>Handicapped?: {{room.handicapAccess}}</p>
<p>Status: {{room.status}}</p>

<input type="button" value="Edit Details" class="btn-info" onclick="window.location.href='{{room.url}}/update'">
<input type="button" value="Delete" class="btn-info" onclick="window.location.href='{{room.url}}/delete'">
<br>
<br>
<input type="button" value="Return to List" class="btn-info" onclick="window.location.href='/admin/room'">